
body{
    margin: 0;
}
.container{
    padding: 50px ;
}
.contenido{
    max-width: 1000px;
    padding: 10px 350px;
}
.contenido img{
    max-width: 1000px;
}
.container-menu{
    position: fixed;
    top: -100px;
    left: -100px;
}
.menu{
    background-color: black;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
}
button{
    left: 60%;
}
