*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.header{
    display: block;
    width:100% ;
    padding: 2%;
    background-color: black;
    color: blue;
}
main{
    display: flex;
}
.lateral{
    background-color: rgba(95, 90, 90, 0.767);
    text-align: center;
}
footer{
    display: block;
    background-color: rgb(54, 54, 54);
    width: 100%;
    text-align: center;
    padding: 2.1%;
    display: flexbox;
    
}
a{
    text-decoration: none;
}