* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: #fafad4;
    background-color: #89b2a2;
}

#formulario {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 1vw;
    background-color: #b0d1b2;
    border-radius: 5%;
}

header {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2%;
    margin-right: 3%;

}

nav {
    display: flex;

}

#form-header {
    display: flex;
    gap: 8%;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main{
    margin-top: 13%;
}
input {
    border-radius: 10px;
    border: 2px;
    padding: 3px 5px;
}

#btn {
    display: flex;
}

#container {
    display: flex;
    justify-content: center;
    gap: 10%

}

#btn-buscar {
    display: flex;
    background-color: transparent;
    border: 0;
}

#icon-buscar {
    width: 2rem;
}