* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #89b2a2;
    background-image: url('/IMG/pngwing.com.png');
    background-size: 25%;

}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    min-height: 100%;
    justify-content: center;
    color: #fafad4;
    flex-direction: column;
}

.form {
    display: grid;
    margin-top: 5%;
    margin-bottom: 3%;
    justify-items: center;
}

form {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(6, 1fr);
    background-color: #b0d1b2;
    padding: 2%;
    border-radius: 10px;
    justify-content: center;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    border-radius: 10px;
    border: 2px;
    padding: 3px 5px;
}

#cuerpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0%;
}

.target {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b0d1b2;
    padding: 2%;
    border-radius: 10px;
}

img {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
h3{
    margin: 3%;
}

.target:hover{
     padding: 3%;
     box-shadow: 2%#000000;
}