body{
    background-color: rgba(255, 255, 255, 0.377);
}
h1{

    display: flex;
    justify-content: center;
    background-color: hwb(0 0% 0%);
    color: rgb(0, 0, 0);
    /* padding: 1.3em; */
    padding: left 0.1em; ;
    
}
#boton{
    margin-block-start: 1.3em;
}
form{
    display: flex;
    flex-direction: row;
    background-color: rgb(250, 250, 250);

}
#principal{
    display: flex;
    align-content: center;
 flex-wrap: wrap;
    flex-direction: column;
}
.segundario{
    display: flex;
    flex-direction: column;
    margin-inline-end: 1em;
}
.tercero{
    display: flex;
    flex-direction: column;
}